---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Birefcase from "../components/icons/Birefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import SubTitle from "../components/SubTitle.astro";
---

<Layout
	title="Portfolio de mikell - Desarrollador y Programador Web - Desarrollador y Programador Backend"
	description="Contrata a mikell para crear tu aplicación web. Desarrollador Web. Desarrollador Backend. Programador freelance."
>
	<main class="px-4">
		<SectionContainer class="pt-14 sm:py-28 sm:pb-32 pb-16">
			<Home />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<SubTitle>
				<CodeIcon class="size-8" />
				Proyectos
			</SubTitle>
			<Projects />
		</SectionContainer>

		<SectionContainer id="experiencia">
			<SubTitle>
				<Birefcase class="size-8" />
				Experiencia Laboral
			</SubTitle>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
