---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
    {
        date: "Julio 2023 - Septiembre 2023",
        title: "Desarrollador - Freelance",
        description:
            "Desarrollo de un sistema integral para la gesti贸n de productos, incluyendo el control de inventario, administraci贸n de usuarios, elaboraci贸n de presupuestos y generaci贸n de balances mensuales.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCIE.map((exp) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...exp} />
            </li>
        ))
    }
</ol>
