---
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindIcon from './icons/Tailwind.astro'
---

<footer
    class="shadow m-4 bg-transparent text-white/50 w-full xl:w-[1120px] mx-auto mb-10 p-2"
>
    <div
        class="rounded-lg bg-gray-900/50 backdrop-blur-lg w-full mx-auto max-w-screen-xl p-2 flex flex-col items-center justify-between"
    >
        <div class="flex justify-between items-center w-full mb-4 px-5 pt-2">
            <span class="text-sm sm:text-center">
                Inspirado en
                <a
                    href="https://midu.dev"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="transition hover:underline text-red-300/90"
                >
                    midudev
                </a>.
            </span>
            <ul class="flex text-sm">
                <li>
                    <a href="#top" class="hover:underline me-4 md:me-6"
                        >Sobre mí</a
                    >
                </li>
                <li>
                    <a href="#" class="hover:underline">Blogs</a>
                </li>
            </ul>
        </div>
        <div class="flex justify-center items-center w-full gap-3">
            <span class="text-sm mb-2"> Powered by:</span>
            <div class="flex items-center justify-center gap-x-4">
                <AstroIcon class="size-6" />
                <TailwindIcon class="size-6 mb-2" />
            </div>
        </div>
    </div>
</footer>
