<footer
    class="shadow m-4 bg-transparent text-gray-500/80 w-full xl:w-[1120px] mx-auto mb-10 p-2"
>
    <div
        class="rounded-lg bg-gray-500/5 backdrop-blur-lg w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm sm:text-center">
            Inspirado en
            <a
                href="https://midu.dev" target="_blank" rel="noopener noreferrer"
                class="transition hover:underline text-red-300/80"
            >
                midudev
            </a>.
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-2"
        >
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Sobre mí</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
</footer>
