<header
    class="flex justify-center items-center p-5 w-full xl:w-[1120px] mx-auto backdrop-blur-[100px] z-50"
>
    <nav class="flex flex-row justify-between sm:justify-center flex-wrap gap-x-5 sm:gap-x-10 opacity-80 text-md">
        <a class="hover:underline transition" href="/#experiencia">Experiencia</a>
        <a class="hover:underline transition" href="/#proyectos">Proyectos</a>
        <a class="hover:underline transition" href="/blog">Blogs</a>
    </nav>
</header>
